/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif;
}

html {
  height:100vh;
}
body {
  min-height:100vh;
}
button {
  font-size:1.3em;
  border: 1px solid gray;
}
