<form [connect]="['profiles', 'form']">
  <h1>Profile Settings</h1>
  <p>
    All of these fields are optional and none of this information will be transmitted.
    The information you provide will help find a best fitting solution for your needs.
  </p>
  <section>
  <h2>Your Services</h2>
  <p>
     Please select all services that you are currently subscribing to.
  </p>
  <fieldset>
    <legend>Television Services</legend>
    <div *ngFor="let service of services.tv">
      <label>
      <input name="tv" type="radio" [value]="service.id" ngControl ngModel>{{ service.name }}
      </label>
    </div>
  </fieldset>
  <fieldset>
    <legend>Streaming Services</legend>
    <form [connect]="['profiles', 'form', 'streaming']">
      <div *ngFor="let service of services.streaming">
        <label>
          <input name="{{service.id}}" type="checkbox" ngModel ngControl>{{ service.name }}
        </label>
      </div>
    </form>
  </fieldset>
  </section>
  <section>
    <h2>Your Devices</h2>
  </section>
  <section>
    <h2>Your Home</h2>
    <p>
      Please provide your location and details about your household. This will help
      us determine the availablility of Free-to-Air HD broadasters to you.
    </p>
    <fieldset>
      <legend>Location</legend>
      <div>
        <label for="city">Municipalitiy</label>
        <select name="city" ngControl ngModel>
         <option selected disabled>Please select</option>
         <option *ngFor="let city of cities">{{ city }}</option>
        </select>
      </div>
      <div>
        <label for="address" >Address:</label>
        <input name="address" type="text" ngControl ngModel>
      </div>
      <div>
        <label for="postal">Postal Code:</label>
        <input name="postal" type="text" maxlength="6" ngControl ngModel>
      </div>
    </fieldset>
  <fieldset>
   <legend>Do you live in a house or an apartment building?:</legend>
   <section>
    <div>
      <label><input type="radio" ngControl ngModel name="home" value="house">I live in a house.</label>
    </div>
    <div>
      <label><input type="radio" ngControl ngModel name="home" value="apartment">I live in an apartment building.</label>
    </div>
    </section>
  </fieldset>
  <section *ngIf="home === 'house'">
    <fieldset>
      <legend>Do you have an HDTV antenna?</legend>
      <div>
        <label><input type="radio" name="antenna" value="1" ngControl ngModel>Yes, its installed above my TV.</label>
      </div>
      <div>
        <label><input type="radio" name="antenna" value="2" ngControl ngModel>Yes, its installed in my attic.</label>
      </div>
      <div>
        <label><input type="radio" name="antenna" value="3" ngControl ngModel>Yes, its installed on my roof.</label>
      </div>
      <div>
        <label><input type="radio" name="antenna" value="0" ngControl ngModel>No, I do not have an HDTV antenna.</label>
      </div>
      </fieldset>
    </section>
    <section *ngIf="home === 'apartment'">
      <fieldset>
        <legend>Do you have an HDTV anntena installed above your HDTV?</legend>
        <div>
          <label><input type="radio" name="antenna" value="1" ngControl ngModel>Yes, I have an HDTV installed above my TV.</label>
        </div>
        <div>
          <label><input type="radio" name="antenna" value="0" ngControl ngModel>No, I do not have an HDTV installed above my TV</label>
        </div>
      </fieldset>
      <fieldset>
        <legend>How many floors up is your appartment?</legend>
        <div>
          <input type="number" name="apartmentFloor" min="1" ngControl ngModel>
        </div>
      </fieldset>
    </section>
    <section>
      <fieldset>
        <legend>Household Members</legend>
        <label for="membersNum">Additional household members: </label>
        <select name="membersNum" ngControl ngModel>
          <option selected disabled>0</option>
          <option *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">{{n}}</option>
        </select>
        <ol *ngIf="membersNum > 0">
        <p>Enter nicknames of each household member, and their level of technical abilty</p>
          <li *ngFor="let n of membersRange" style="border: 1px solid gray; padding: 10px; margin:5px">
            <label for="member{{n}}-nickname">nickname:</label>
            <input type="text" name="member{{n}}-nickname" placeholder="Enter a name" ngControl ngModel>
            <label for="member{{n}}-abilty">Technical Ability</label>
            <select name="member{{n}}-abilty" ngControl ngModel>
              <option selected disabled>Please select</option>
              <option value="potato">Knows only how to switch channels on live TV.</option>
              <option value="basic">Knows how use the PVR function to record live TV.</option>
              <option value="intermediate">Knows how to stream and cast video on a mobile device.</option>
              <option value="advanced">Knows how to connect devices to TV.</option>
              <option value="expert">Knows how to install software on a PC</option>
            </select>
          </li>
        </ol>
      </fieldset>
    </section>
  </section>
  <section>
    <input type="submit" value="Save">
  </section>
</form>
